<!DOCTYPE html>

<html>
<body>
	<h1>Listing information</h1>

    <%= @listing.name %><br>
    <%= @listing.description %><br>
    <%= @listing.price %><br>
	<%= @listing.city %>
	<%= @listing.country %>

	<form action= "/listings/<%= @listing.id %>/request" method="post">
		<input type="submit" value="Request">
	</form>


</body>
</html>
