<!DOCTYPE html>

<html>
<body>


	<h1>Listing information</h1>

    <%= @listing.name %><br>
    <%= @listing.description %><br>
    <%= @listing.price %><br>
		<%= @listing.city %>
		<%= @listing.country %>

		<%if current_user%>
			<form action= "/requests" method="get">
				<input type="submit" value="Request">
			</form>
		<%end%>

</body>
</html>
