<!DOCTYPE html>

<html>
<body>
	<h1>Listing information</h1>

    <%= @listing.name %><br>
    <%= @listing.description %><br>
    <%= @listing.price %><br>
		<%= @listing.city %>
		<%= @listing.country %>



</body>
</html>
