<!DOCTYPE html>

<html>
<body>
	<h1>Listing information</h1>

    <%= @listing.name %><br>
    <%= @listing.description %><br>
    <%= @listing.price %><br>
		<%= @listing.city %>
		<%= @listing.country %>

		<form action="/request/new" method="get">
			<input type="submit" value="Request">
		</form>

		<form action="/users/requests" method="get">
		 <button type="submit" >Send Request</button>
	 </form>


</body>
</html>
