<!DOCTYPE html>

<html>
<body>
	<h2>Listings</h2>

	<% if current_user %>
		<h1>	Welcome, <%= current_user.name %>!</h1><br>
	<%end%>

	<h1>Search listings by available dates: </h1><br>
	<form class="main-form" action="/listings/sort" method="post">
		<input type="date" name="available_from" placeholder="Available From* DD/MM/YYYY"><br>
		<input type="date" name="available_until" placeholder="Available To* DD/MM/YYYY"><br>

		<input class="button" type="submit" value="Show Available Property">
	</form>


	<ul class="listings" id='listings'>
		<% if @sort_date %>
				<% @listings.each do |listing| %>
					<% if ( @sort_date - listing.date_availability).empty? %>
						<div class="box_list">
							<a href='/listings/<%= listing.id %>'><%= listing.name %></a>
							<br>
							<%= listing.description %>
							</div>
							<br>
					<%end%>
				<% end %>
				<% session[:available_date] = nil %>
		<% else %>
				<% @listings.each do |listing| %>
					<div class="box_list">
						<a href='/listings/<%= listing.id %>'><%= listing.name %></a>
							<br>
							<%= listing.description[0..70] %>...
							</div>
							<br>
				<% end %>
		<% end %>
	</ul>

	<% if current_user %>
		<form class="main-form" action="/listings/new" method="get">
		<input class="button" type="submit" value="Create Listing">
		</form>
	<%end%>

	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
  
</body>
</html>
